*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 70vw;
    margin: auto;
}

#brand-logo{
    width: 200px;
    height: auto;
}

input{
  padding: 10px 20px;
  outline: none;
}

button{
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

#user-avatar{
    width: 75px;
    height: 75px;
}